<!DOCTYPE html>
<html><html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">实 验 室 管 理 系 统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">

                <li class="layui-nav-item"><a href="">我的课表</a></li>

                <li class="layui-nav-item"><a href="">课表预约</a></li>


                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <table id="demo" lay-filter="test"></table>
        <table class="layui-table" lay-data="{基础参数}">
            <thead>
            <tr>
                <th lay-data="{field:'username', width:80}" rowspan="2">联系人</th>
                <th lay-data="{field:'amount', width:120}" rowspan="2">金额</th>
                <th lay-data="{align:'center'}" colspan="3">地址</th>
            </tr>
            <tr>
                <th lay-data="{field:'province', width:80}">省</th>
                <th lay-data="{field:'city', width:120}">市</th>
                <th lay-data="{field:'county', width:300}">详细</th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="/js/layui.all.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 315
            ,url: '/teacher/schedule' //数据接口
            ,page: true //开启分页
            ,cols: [
                        [ //表头
                {field: 'id', title: '', width:80, fixed: 'left'}
                ,{field: 'monday', title: '星期一', width:80, templet: 'titleTp1'}
                ,{field: 'tuesday', title: '星期二', width:80,  templet: function (d) {
                                return d.LAY_INDEX
                            }}
                ,{field: 'wednesday', title: '星期三', width:80,  templet: function (d) {
                                return d.LAY_INDEX
                            }}
                ,{field: 'thursday', title: '星期四', width: 80}
                ,{field: 'friday', title: '星期五', width: 80}
                ,{field: 'saturday', title: '星期六', width: 80}
                ,{field: 'sunday', title: '星期日', width: 80}
                ]
            ]
        });

    });
</script>

<script type="text/html" id="titleTp1">
    {{# if(d}}
</script>
</body>
</html>
