<!DOCTYPE html>
<html><html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/css/layui.css">

    <style type="text/css">
        .layui-table-cell {
            overflow: visible;
            bottom: 20px;

        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">实 验 室 管 理 系 统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">

                <li class="layui-nav-item"><a href="">我的课表</a></li>

                <li class="layui-nav-item"><a href="">课表预约</a></li>


                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <table class="layui-table-cell" id="schedule" lay-filter="test"></table>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="/js/layui.all.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#schedule'
            ,url: '/teacher/schedule' //数据接口
            ,size: 'lg'
            ,text: {
                none: ' '
            }
            ,cols: [
                        [ //表头
                {field: 'id', title: '', width:80, style:'height:150px',align:'center',fixed: 'left'}
                ,{field: 'monday', title: '星期一', width:120,style:'height:150px',templet: function (d) {
                    return 'ID：'+ d.tuesday.week + '<br>' +  d.tuesday.day
                }}
                ,{field: 'tuesday', title: '星期二', width:150,align:'center',style:'height:150px',templet: function (d) {
                                // return '<div style="margin: 0 auto">ID：'+ d.tuesday.week + '<br>' +  d.tuesday.day+ '<br>' +  d.tuesday.courseName+ '<br>' +  d.tuesday.teacher+ '<br>' +  d.tuesday.segment + '</div>'
                                //         }}
                                return '<div style="text-align: center">' + '<div style="margin: 0 auto;line-height: 23px">' + d.tuesday.week + '<br>' + d.tuesday.day + '<br>' + d.tuesday.courseName + '<br>' + d.tuesday.teacher + '</div>' + '</div>'
                            }}
                                    ,{field: 'wednesday', title: '星期三', width:80, style:'height:150px',templet: function (d) {
                return 'ID：'+ d.tuesday.week + '<br>' +  d.tuesday.day

                            }}
                ,{field: 'thursday', title: '星期四',style:'height:150px', width: 80,templet: function (d) {
                return 'ID：'+ d.tuesday.week + '<br>' +  d.tuesday.day
            }}
                ,{field: 'friday', title: '星期五',style:'height:150px', width: 80,templet: function (d) {
                return 'ID：'+ d.tuesday.week + '<br>' +  d.tuesday.day
            }}
                ,{field: 'saturday', title: '星期六', style:'height:150px',width: 80,templet: function (d) {
                return '<div style="margin: 0 auto">ID：'+ d.tuesday.week + '<br>' +  d.tuesday.day +'</div>'
            }}
                ,{field: 'sunday', title: '星期日', style:'height:150px',width: 80,templet: function (d) {
                return 'ID：'+ d.tuesday.week + '<br>' +  d.tuesday.day
            }}

]
                ]
        });

    });
</script>

<!--<script type="text/html" id="monday">-->
    <!--&lt;!&ndash;{{#  if(d.id < 150){ }}&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="/detail/{{d.id}}" class="layui-table-link">{{d.title}}</a>&ndash;&gt;-->
    <!--&lt;!&ndash;{{#  } else { }}&ndash;&gt;-->
    <!--&lt;!&ndash;{{d.title}}(普通用户)&ndash;&gt;-->
    <!--&lt;!&ndash;{{#  } }}&ndash;&gt;-->

    <!--<ul>-->
        <!--<li> {{ d.monday.week}}</li>-->
        <!--<li> {{ d.monday.day}}</li>-->
    <!--</ul>-->

    <!--<div class="layui-bg-gray">{{ d.monday.week }}</div>-->
    <!--<div>{{ d.monday.day}}</div>-->
<!--</script>-->

</body>
</html>
