<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxc.edu.lab.mapper.CourseMapper">

    <resultMap id="courseResult" type="com.wxc.edu.lab.domain.Course">
        <id column="id" property="id"/>
        <result column="teacher_id" property="teacher"/>
        <result column="course" property="courseName"/>
        <result column="day" property="day"/>
        <result column="week" property="week"/>
        <result column="time" property="segment"/>
        <result column="laboratory_id" property="laboratory"/>
    </resultMap>



    <select id="select" fetchSize="1" resultMap="courseResult">
        select * from course where course_id = #{id}
    </select>
</mapper>
